body {
    background-image: url("https://wallpaperaccess.com/full/137487.jpg");
    background-size: cover;
}

.sq1 {
    position: fixed;
    padding-top: 3.5cm;
    padding-left: 6cm;
}

#sqaure1 {
    position: fixed;
    transform-origin: center;
    transform: rotateZ(44deg);
    box-shadow: 1px 1px 5px 5px black;
}

.email {
    z-index: 2000;
    position: fixed;
    padding-top: 8.5cm;
    padding-left: 7.5cm;
}

.pass {
    z-index: 1000;
    position: fixed;
    padding-top: 10.5cm;
    padding-left: 7.5cm;
}

.submit {
    position: fixed;
    padding-top: 13cm;
    padding-left: 11cm;
}

#txt {
    color: white;
    text-align: center;
    position: fixed;
    padding-top: 5cm;
    padding-left: 9.5cm;
    font-size: 48px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

#emailbox {
    font-weight: bolder;
    font-size: large;
    width: 350px;
    height: 30px;
    opacity: 0.5;
    padding: 5px;
}

#pwbox {
    font-weight: bolder;
    font-size: large;
    width: 350px;
    height: 30px;
    opacity: 0.5;
    padding: 5px;
}

#log {
    font-weight: bolder;
    font-size: large;
    border-radius: 20%;
    font-family: 'Times New Roman', Times, serif;
    width: 3cm;
    height: 60px;
    background-color: black;
    color: white;
}

#log:hover {
    cursor: pointer;
}

.h1 {
    padding-left: 18cm;
    padding-top: 4cm;
    line-height: 20px;
    color: white;
    text-align: center;
}

#heading1 {
    padding-left: 9cm;
    position: absolute;
    font-size: 50px;
}

#text {
    padding-left: 5.5cm;
    padding-top: 3cm;
    position: Absolute;
    font-size: 25px;
}