/*[ PADDING ]*/

.p-t-13 {padding-top: 13px;}
.p-t-170 {padding-top: 170px;}
.p-t-178 {padding-top: 178px;}


.p-b-9 {padding-bottom: 9px;}
.p-b-40 {padding-bottom: 40px;}
.p-b-23 {padding-bottom: 23px;}


.p-l-55 {padding-left: 55px;}
.p-r-55 {padding-right: 55px;}


/*[ MARGIN ]*/

.m-b-16 {margin-bottom: 16px;}

.text-center {text-align: center;}
.text-left {text-align: left;}
.text-right {text-align: right;}
.text-middle {vertical-align: middle;}


.flex-col-c {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
}